body,
html {
    font: 16px/1.4 Georgia, serif;
}

.page {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1 {
    font: 2rem/1.2 Georgia, serif;
    margin-bottom: 1em;
}

.puzzle {
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid grey;
    background: #e5d6f6;
    margin-bottom: 1.5rem;
    position: relative;

    .item {
        position: absolute;
        left: 0 px;
        top: 0 px;
        width: 25%;
        height: 25%;
        padding: 0;
        margin: 0;
        border: none;
        background: #000;
        font: 3rem Gergia, serif;
        color: #fff;
        cursor: pointer;

        &Val {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 84%;
            height: 84%;
            margin: 8%;
            box-shadow: inset 0 0 0 2px #992ec5; 
        }
    }
}

.button {
    color: #fff;
    background: #000;
    font: 1.2rem/1.4 Gorgia, serif;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.5em;

    &:hover {
        background: #992ec5;
    }
}

