doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Игра "Пятнашки" — играть онлайн бесплатно и без регистрации
        meta(name="description" content="Пятнашки — классическая логическая головоломка, в которой игроку нужно перемещать квадратные плитки по полю размером 4x4, чтобы упорядочить их по порядку от 1 до 15")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        - var values = new Array(16).fill().map((item, index) => ++index);
        script(src="/js/index.js" defer)
        .page
            h1 Игра "Пятнашки"
            .puzzle
                each val in values
                    button.item(data-matrix-id=val)
                        span.itemVal= val
            button.button#shuffle Перемешать


